body {
  background-color: black;
  background-image:url(fonddef.png);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a{
  text-decoration: none;
  color: white;
  margin-left: 5px;
}
.container {   /* Box du header*/
  position: relative;
  margin-top: 0;
  margin-left: 10px;
  padding: 0;
  width: 94%;
  font-family: helvetica, sans-serif;
}
.astronaut{   /*Placement icon mon compte*/
  display: flex;
  width: 60px;
  height: 60px;
  margin-left: 1025px;
  margin-top: -50px;
  margin-right: auto;
}
.cosmosblanc{        /*Placement Titre*/
  display: block;
  position: relative;
  width: 150px;
  height: 60px;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: auto;
  padding-top: 30px;
}
.logo{             /*Placement Logo*/
  width: 80px;
  height: 80px;
  display: flex;
  /*justify-content: center;*/
  margin-left: auto;
  margin-top: -135px;
  margin-right: auto;
}
#header {
  z-index: 2;
  position: static;
  width: 100%;
  height: 100px;
  line-height: 60px;
  background-color: rgba(34, 34, 34, 0.5);
  color: white;
  margin-top: -30px;
}
.input{       /*Placement barre de recherche*/
  display: flex;
  margin-top: -110px;
  margin-left: 1100px;
  margin-right: auto;
}
.menu{
  display: block;  /* Barre de Menu */
  margin-left: 0px;
  margin-right: auto;
  margin-top: -20px;
  background-color: rgba(200, 194, 211, 0.5);
  height: 700px;
  width: 200px;
  font-family: helvetica;
}
.mesmusiques{   /*placement des icons de musique*/
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  text-align: left;
}
.univers{
  margin-left: 52px;
  font-size: 25px;
  color: white;
  font-family: "Vonique64";
  src: url("Vonique64.ttf");
}
.top{
  margin-left: 600px;
  margin-top: 10px;
  color: white;
  font-size: 25px;
  font-family: "Vonique64";
  src: url("Vonique64.ttf");
}
.lecteurs1 {
  justify-content: center;
  margin-top: 20px;
  margin-left:325px
}
.lecteurs2 {
  display: block;
  justify-content: center;
  margin-top: -170px;
  margin-left:325px
}
.barre{
  margin-top: -100px;
}
.Actu{  /*Placement image actualité}*/
  color: white;
  font-size: 25px;
  font-family: "Vonique64";
  src: url("Vonique64.ttf");
  margin-left: 600px;
}
.act{
  margin-left: 270px;
}
