.im1{
  margin-left: 50px;
  margin-top: 10px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.im1:hover
{
  transform: scale(1.75);
}

.im2{
  margin: auto;
  transition-property: transform;
  transition-duration: 0.5s;
}

.im2:hover
{
  transform: scale(1.75);
}

.im3{
  margin: auto;
  transition-property: transform;
  transition-duration: 0.5s;
}

.im3:hover
{
  transform: scale(1.75);
}

.im4{
  margin: auto;
  transition-property: transform;
  transition-duration: 0.5s;
}

.im4:hover
{
  transform: scale(1.75);
}

.im5{
  margin: auto;
  transition-property: transform;
  transition-duration: 0.5s;
}

.im5:hover
{
  transform: scale(1.75);
}
.im6{
  margin: auto;
  transition-property: transform;
  transition-duration: 0.5s;
}

.im6:hover
{
  transform: scale(1.75);
}
