body {
  background-color: black;
  background-image:url(fonddef.png);
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.container {
  position: relative;
  margin-top: 0;
  margin-left: 10px;
  padding: 0;
  width: 94%;
  font-family: helvetica, sans-serif;
}
.astronaut{
  display: flex;
  width: 60px;
  height: 60px;
  margin-left: 1025px;
  margin-top: -50px;
  margin-right: auto;
}
.cosmosblanc{
  display: flex;
  width: 150px;
  height: 60px;
  margin-left: 10px;
  margin-top: 30px;
  margin-right: auto;
}
.logo{
  width: 80px;
  height: 80px;
  display: flex;
  /*justify-content: center;*/
  margin-left: auto;
  margin-top: -80px;
  margin-right: auto;
}
#header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100px;
  line-height: 60px;
  background-color: rgba(34, 34, 34, 0.5);
  color: white;
}
.input{
  /*margin-left:  710px;*/
  display: flex;
  margin-top: -110px;
  margin-left: 1100px;
  margin-right: auto;
}
.menu{
  display: flex;
  /*text-align: center;*/
  margin-left: 0px;
  margin-right: auto;
  margin-top: 0px;
  background-color: rgba(200, 194, 211, 0.5);
  height: 700px;
  width: 150px;
  font-family: "Vonique64";
  src: url("Vonique64.ttf");
}
.mesmusiques{
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  text-align: left;
}
.univers{
  margin-left: 32px;
  font-size: 20px;
}
.contener_slideshow
{
  display: flex;
  width:800px;
  height:300px;
  overflow: hidden;
  position: relative;
  background-image: url(slide3.png);
  margin-top: -600px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
	background: linear-gradient(black, black 20%, black 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}
.slid_1{
  left:0px;}

.slid_2{
  display: flex;
  left:305px;
  margin-top: -324px;
  margin-left: 800px;
  margin-right: auto;
}
.slid_3{
  display: flex;
  left:610px;
  margin-top: -300px;
  margin-left: 1600px;
  margin-right: auto;
}

.contener_slide
{
  width: 2890px;
  height: 1460px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@-moz-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@-ms-keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@keyframes anim_slide
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
.lecteurs{
  display: flex;
  /*justify-content: center;*/
  margin-left: 330px;
  margin-top: 10px;
  margin-right: auto;

}
